.admin-addBooks{
    display: flex;
    justify-content: center;
    padding:10px;
}
.addbook-form-input{
    width:700px;
    background-color: aliceblue;
    padding:0px 20px;
    border-radius: 10px;
}
.admin-forms{
    display: flex;
    flex-direction: column;
}

.addbook-form-input h1{
    text-align: center;
}
.addbook-form-input input{
    width:650px;
    height:40px;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
}
.addbook-form-input p{
    padding: 0px 10px;
    margin:10px 0px;
}
.addbook-form-input textarea{
    width:650px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}
.addbook-form-input button{
    width: 650px;
    height: 40px;
    border:none;
    background-color: blue;
    font-size: 20px;
    color:white;
    border-radius: 10px;
    margin:20px 0px;
}