.landing-cover-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-image: url("https://ouch-cdn2.icons8.com/OQ3yuVTnKqAb4khnDpO7_KBTgYEZFOxQQSTIg3787mg/rs:fit:256:458/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvOTYz/L2Q3ZTAzZDAzLWIw/MGQtNDgyMi05OWQ1/LTMxMmVhMTJkNTY3/My5wbmc.png"); */
   background-position: 10%;
   background-size: contain;
   background-repeat: no-repeat;
   background-color:azure;
}
.landing-page{
    width:550px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.429);
    text-align: center;
    padding: 20px 0px;
    border-radius: 20px;
    color:white;
    
}
.landing-cover-page img{
    width:100px;
    height: 100px;
    background-color: aliceblue;
    margin-top: 40px;
    margin-bottom: 10px;
    /* background-color: rgb(246, 54, 54); */
    border-radius: 50%;
}
.select-login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.user-color img{
    /* background-color: rgb(90, 243, 90); */
}
.admin-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-user a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    background-color: blue;
    color:white;
    border-radius: 10px;
    transition: all 0.5s;
}
.admin-user a:hover{
    background-color: red;
}
.user-color a:hover{
    /* background-color:rgb(90, 243, 90) ; */
   background-color:  rgb(90, 243, 90);
}