.user-admin-login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
   background-image: url("/public/Images/user-login-logo.png");
    background-blend-mode:normal;
    background-position: 89%;
    background-repeat: no-repeat;
    background-size: 400px;
    background-size: contain;
   
   
}
.user-form{
       background-color: rgba(0, 0, 0, 0.295);
        width:600px;
        height:350px;
        border-radius: 10px;
        color:white;
}
.user-form-input{
    padding: 0px 10px;
}
.user-form h1{
    text-align: center;
    padding-top: 10px;
}
.user-form input{
    width:550px;
    height: 40px;
    border-radius: 10px;
    border:none;
    padding:0px 10px;
    margin: 0px 20px;
}
.user-form-input p{
    margin: 0px 10px;
}
.user-form input:focus{
    outline: none;
}
.user-form-input button{
    width: 550px;
    margin: 40px 20px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color:white;
    background-color:blue ;
}